* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 15px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 870px;
}

.main + .sidebar {
    margin-left: 30px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sidebar {
    min-width: 200px;
    width: 270px;
}

.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
    margin-bottom: 30px;
}

.card-link:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.card {
    width: 270px;
    background-color: #fff;
    position: relative;
}

.card__badges {
    display: flex;
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
}

.card__badges > * + * {
    margin-left: 10px;
}

.card__badge {
    display: inline-block;
    background: #FFCF26;
    border-radius: 4px;
    height: 22px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.card__badge--class {
    background-color: #FFCF26;
}

.card__badge--credit {
    background-color: #11BE75;
    color: #FFFFFF;
}

.card__content {
    padding: 16px 15px 20px;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
    margin-bottom: 11px;
}

.card__term {
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    margin-bottom: 11px;
}

.card__metro {
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    margin-bottom: 11px;
}

.card__metro::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
    width: 16px;
    height: 11px;
    background: url("../img/icons/metro.svg") no-repeat;
    background-size: initial;
}

.card__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

.btn-more {
    width: 100%;
    height: 80px;
    background-color: #E5E5E5;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4290C9;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.btn-more:hover {
    background-color: #d8d8d8;
}

.btn-more img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.widget + .widget {
    margin-top: 30px;
}

.card-link--hidden {
    display: none !important;
}

.widget__title {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
    margin-bottom: 20px;
    cursor: pointer;
}

.widget__title::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/icons/shape.svg") no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
}

.widget__title--active::after {
    transform: rotate(180deg);
}

.widget__body {

}

.widget__body--hidden {
    display: none;
}

.location__row {
    display: flex;
}

.location__row:first-child {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border: 1px solid #d6d6d6;
}

.location__row:last-child {
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid #d6d6d6;
    border-top: none;
}

.location__btn {
    font-family: inherit;
    flex-grow: 1;
    height: 50px;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #3C3C3C;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.location__btn:hover {
    background-color: #fff0bb;
}

.location__checkbox {
    height: 1px;
    width: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.location__checkbox:checked + .location__btn {
    background-color: #FFCF26;
}

.location__checkbox:checked + .location__btn:hover {
    background-color: #daab06;
}

.radio {
    display: block;
    cursor: pointer;
}

.radio + .radio {
    margin-top: 15px;
}

.radio__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}

.radio__real {
    height: 1px;
    width: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.radio__fake {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: bottom;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:  #fff;
    border: 1px solid #777777;
}

.radio__real:checked + .radio__fake {
    background-color:  #FFE074;
}

.radio__real:checked ~ .radio__title{
    font-weight: 400;
}

.radio__real:checked + .radio__fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #3C3C3C;
    transform: translate(-50%, -50%);
}

.checkbox {
    display: block;
    cursor: pointer;
}

.checkbox + .checkbox {
    margin-top: 15px;
}

.checkbox__real {
    height: 1px;
    width: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.checkbox__real:checked + .checkbox__fake {
    background-color: #FFE074;
}

.checkbox__real:checked + .checkbox__fake::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18px;
    width: 18px;
    background: url("../img/icons/check.svg") no-repeat center;
}

.checkbox__fake {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: bottom;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    background-color:  transparent;
    border: 1px solid #777777;
}

.checkbox__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}

.checkbox__real:checked ~ .checkbox__title{
    font-weight: 400;
}

.widget__hidden {
    display: none;
}

.widget__show-hidden {
    display: inline-block;
    border: none;
    background: transparent;
    font-family: inherit;
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #4290C9;
    cursor: pointer;
    transition: color 0.2s ease;
}

.widget__show-hidden:hover {
    color: #0e68a5;
    text-decoration: underline;
}

.toggle {
    cursor: pointer;
}

.toggle__real {
    height: 1px;
    width: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.toggle__fake {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 37px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 10px;
    vertical-align: bottom;
}

.toggle__fake::before {
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #3C3C3C;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
    background-color: #FFE074;
}

.toggle__real:checked + .toggle__fake::before {
    left: 19px;
}

.toggle__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}

.toggle__real:checked ~ .toggle__title {
    font-weight: 500;
}

.form-btn {
    width: 100%;
    height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background-color: transparent;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: #3C3C3C;
    transition: all 0.2s ease;
}

.form-btn img {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -2px;
}

.form-btn:hover {
    background-color: #e7e7e7;
}

.form-btn + .form-btn {
    margin-top: 10px;
}

.form-btn--submit {
    background-color: #FFCF26;
    border: none;
    color: #000;
}

.form-btn--submit:hover {
    background-color: #ffe173;
}

.toggle-sidebar {
    display: none;
    position: fixed;
    z-index: 9;
    right: 15px;
    top: 8px;
    width: 45px;
    height: 45px;
    background-color: rgb(71, 71, 71);
    justify-content: center;
    align-items: center;
}

@media (max-width: 829px) {
    .toggle-sidebar {
        display: flex;
    }
}

.menu-icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
    background-color: transparent;
}

.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

@media (max-width: 1200px) {
    .container {
        max-width: 830px;
    }
}

@media (max-width: 829px) {
    .container {
        max-width: 600px;
    }
    .sidebar {
        /*display: none;*/
        position: fixed;
        margin-left: 0 !important;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        padding: 15px;
        box-shadow: 0 0 20px 4px rgb(0 0 0 / 37%);
        overflow-y: auto;
        transform: translateX(-150%);
        transition: transform 1s ease;
    }

    .sidebar--mobile-active {
        transform: translateX(-0%);
    }
}

@media (max-width: 599px) {
    .card-wrapper {
        flex-direction: column;
        align-items: center;
    }
}


